<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title Gestion de usuarios
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
body
  block contenido
  div(class="row center")
    footer &copy; Eliana Mariel Ferioli Núñez
  script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
    